@charset "utf-8";
/* CSS Document */

body {font-family: 'Open Sans', sans-serif;background:#e4e4e4;font-weight:700}
div {position:relative}
.nobody_cares {margin:10% auto;text-align:center}
h1, h2, h3, a, a:visited {text-shadow:0 1px 0 #fff;}
a:hover {color:red}
a:active {color:black}