@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
html,
body {
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-display: swap;
  margin: 0 auto;
  color: #666;
  background: #f8f9fa;
}

.controls {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 80px 20px;
  max-width: 1370px;
  margin: auto;
}

.drawer-opened {
  .page-content {
    margin: 0 auto 0 462px;
  }
}

.content-wrapper {
  .page-content {
    padding: 0;
  }
}

.simple-box {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 32px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  width: 130px;
  height: 50px;
  transition: all 200ms ease-out;
  user-select: none;
  &.selected {
    background: #f1f5fe;
    border: 1px solid #4289f5;
    .icon {
      display: block;
    }
  }
  .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #4684fd;
    display: none;
  }
}

.simple-box__wrapper {
  display: flex;
  justify-content: space-between;
}

.simple-box__subtitle {
  font-size: small;
  margin-top: 6px;
}

.img-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 112px;
}

.top-bar-button {
  position: relative;
  .content,
  span {
    display: block !important;
  }
  span {
    text-transform: none;
  }
}

.material-header {
  background-color: #ffffff !important;
  color: #666 !important;
  border-bottom: 1px solid #ddd !important;
}

.custom-panel {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 22px;
  border-radius: 12px;
  background: #fff;
}

.flex {
  display: flex;
}

.tabs {
  border: 2px solid #ddd;
  display: flex;
  .left-side {
    flex: 1;
    border-right: 2px solid #dddddd;
  }
  .right-side {
    min-width: 310px;
    h4 {
      border-bottom: 2px solid #ddd;
      padding: 14.5px 15px;
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
  .navi-bar {
    border-bottom: 2px solid #ddd;
  }
  material-tab {
    box-shadow: none !important;
  }
}

.search-input {
  width: 98% !important;
  padding: 10px 10px !important;
}

.tab-content {
  flex-direction: column;
  material-checkbox {
    margin-left: 0;
    user-select: none;
    .content {
      small {
        color: gray;
      }
      small,
      span {
        display: block;
      }
    }
  }
}

.recent-items-wrapper {
  display: block;
  material-checkbox {
    width: 100%;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.form-group {
  display: inline-flex;
  flex-direction: column;
  label {
    font-size: small;
    color: gray;
    margin-bottom: 4px;
  }
}

material-icon {
  &.selected {
    color: #4285f4;
  }
}

.expansion-panel {
  .panel-status {
    float: right;
    display: flex;
    align-items: center;
  }
  .text {
    color: rgba(0, 0, 0, 0.54);
  }
}

.buttons-row {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.panels-wrapper {
  margin: 12px 0;
}

.checkbox-items-wrapper {
  display: flex;
  margin-top: -32px;
  .checkbox-items__title {
    display: flex;
    border: 1px solid #ddd;
    material-checkbox {
      width: 100%;
    }
  }
  .checkbox-items {
    display: block;
    width: 100%;
    border-right: 1px solid #ddd;
    .icon-bg {
      padding: 2px 4px;
      background: #dfdfdf;
      border-radius: 3px;
      color: #4c4c4c;
      margin-right: 5px;
      margin-left: 5px;
    }
    .item-sub-header {
      padding: 12px;
      display: flex;
      align-items: center;
      border-top: 1px solid #dfdfdf;
      background: #f5f5f5;
      border-bottom: 1px solid #dfdfdf;
      color: #757575;
    }
    material-checkbox {
      display: flex;
      margin: 0;
      padding: 12px;
      position: relative;
      &.checked {
        background: #e8f0fe;
      }
      .status-icon {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 5px;
        margin: 3px 3px 3px 0;
        &.active {
          background: green;
        }
      }
    }
    small {
      display: block;
    }
  }
}

.checkbox-right {
  position: absolute;
  right: 20px;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
}

.panels-wrapper .expansion-panel:first-child .panel:not(.open) {
  border-radius: 8px 8px 0 0;
}

.panels-wrapper .expansion-panel:last-child .panel:not(.open) {
  border-radius: 0 0 8px 8px;
}

.text {
  float: right;
  width: 300px;
  margin-top: 0;
}

.actionarea {
  margin: 0 0 30px;
  float: left;
  max-width: 50%;
  left: 20%;
  position: relative;
  padding-left: 16px;
}

.hideme {
  display: none;
  visibility: hidden;
}

.empty-selection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  margin-left: 330px;
}

.rounded {
  border-radius: 33px !important;
  .content {
    padding: 0.7em 1em !important;
  }
}

.bold {
  font-weight: bold !important;
}

material-button {
  &.highlight {
    background-color: rgba(66, 133, 244, 0.12);
  }
}

.panel-content {
  margin-top: 16px;
  border-top: 1px solid #ddd;
  padding-top: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  td,
  th {
    border: 1px solid #ddd;
    padding: 0px 12px;
  }
  material-checkbox {
    margin: 8px 0;
    width: 25px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: #4285f4;
}

material-dropdown-select {
  &.custom {
    .button {
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }
  }
}

.plus-button {
  display: inline-flex !important;
  align-items: center;
  background-color: #fff;
  background-image: none;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  height: 48px;
  letter-spacing: 0.15px;
  line-height: 22px;
  margin: 0;
  min-width: 120px;
  padding: 0 !important;
  text-transform: none;
  width: inherit;
  &:before {
    border-radius: 50%;
    border-width: 0;
    content: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2236%22 height=%2236%22 viewBox=%220 0 36 36%22%3E%3Cpath fill=%22%2334A853%22 d=%22M16 16v14h4V20z%22/%3E%3Cpath fill=%22%234285F4%22 d=%22M30 16H20l-4 4h14z%22/%3E%3Cpath fill=%22%23FBBC05%22 d=%22M6 16v4h10l4-4z%22/%3E%3Cpath fill=%22%23EA4335%22 d=%22M20 16V6h-4v14z%22/%3E%3Cpath fill=%22none%22 d=%22M0 0h36v36H0z%22/%3E%3C/svg%3E");
    display: block;
    margin: 0 0 0 6px;
    position: relative;
    height: 36px;
  }
}

.content-title {
  font-weight: 500;
  display: flex;
}

material-drawer {
  overflow: visible !important;
  height: 1010px;
  top: 64px !important;
}

.sidebar-s1 {
  background: url("img/sidebarbg.png");
  height: 100%;
  background-size: contain;
  img {
    position: absolute;
    width: 361px;
    image-rendering: pixelated;
  }
}

.material-header-title {
  margin-left: 145px;
  border-left: 1px solid #ccc;
  padding-left: 14px;
}

material-dropdown-select {
  background: #f7f7f7;
  border-bottom: 1px solid #5d5d5d;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  &:hover {
    background: #e4e4e4;
  }
}

img {
  max-width: 100%;
}

.user-info {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: -10px;
}

.not-available {
  font-weight: 400;
  color: gray;
  background: #fdfdfd;
  padding: 22px;
  border: 1px dashed #eee;
  text-align: center;
}

material-chip {
  font-weight: 500 !important;
  background-color: rgba(62, 62, 62, 0.12) !important;
  color: #656565 !important;
  &.selected {
    background-color: rgba(66, 133, 244, 0.12) !important;
    color: #4285f4 !important;
  }
}
.addFilter {
  margin-left: 30px;
  background-color: transparent;
  border-bottom: none;
  color: #666;
  glyph {
    display: none;
  }
}
